/* ======================= COLORS ======================= */

/* farben: #efe8d7, #042a5a, #f4c4c4, #282b29, #7d2222, #deb873, #d2d2d2, #388883; */

/* ======================== FONTS ======================= */

@font-face {
  font-family: athene;
  src: url(../fonts/Athene.otf);
}

@font-face {
  font-family: open-sans;
  src: url(../fonts/OpenSans_Condensed-Regular.ttf);
}

/* ======================== BASIC ======================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: open-sans;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* ===================== SECTION NAV ==================== */

header {
  position: relative;
  background-color: #efe8d7;
}

.section-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 11px 11.5% 14px;
  text-transform: uppercase;
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
}

.section-nav p {
  position: relative;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  line-height: 2.451rem;
}

.section-temporary {
  margin: 0 10%;
  display: flex;
  justify-content: column;
  align-items: center;
}

.section-temporary h1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16rem;
  font-family: athene;
  font-weight: 400;
  line-height: 22.8rem;
  text-transform: uppercase;
  border-bottom: 2px solid #042a5a;
}

.section-temporary h1 span hr {
  width: 19.6rem;
  height: 0.2rem;
  margin: 110px 45px;
  background-color: #042a5a;
}

header figure {
  margin: 0 auto;
  max-width: 40.1rem;
  margin-bottom: 15.122rem;
}

header figure img {
  margin-bottom: 3.5rem;
  width: 40.1rem;
  height: 60.2rem;
}

header figure p {
  font-size: 2.4rem;
  text-transform: uppercase;
}

header figure span:first-of-type {
  font-family: athene;
}

/* ================== MEDIA QUERY AREA ================== */

@media (max-width: 1250px) {
  .section-temporary h1 span {
    font.size: 13rem;
  }
}

@media (max-width: 850px) {
  . .section-temporary h1 span {
    font-sze: 8rem;
  }
}

@media (max-width: 650px) {
  .section-temporary h1 span {
    font-size: 6rem;
  }
}
